header {
  padding: 1em;
  color: #fff;
}

header h1.ui.header {
  margin: 0;
  color: #fff;
  margin-top: 1em;
}
header h3.ui.header {
  margin: 0;
  color: #fff;
  margin-bottom: 1em;
}

header i.fitted.icon {
  margin: 0 0.2em !important;
}

header i.fitted.icon:hover {
  color: #2185d0;
  cursor: pointer;
}