.Container {
  margin-top: 1em;
}

.Education {
  height: auto;
  max-width: 100%;  
  max-height: 295px;
  min-width: auto;
  min-height: auto;
}

.EducationHeader {
  color: #007bff;
}

.Row {
  width: 100%;
}